{% extends "bootstrap/base.html" %}

{% block title %}{{ title }}-FuckingWords{% endblock %}

{% block navbar %}{{ nav.top.render() }}{% endblock %}

{% block content %}
<div class='container-fluid'>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss='alert'>&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

<footer class="footer">
        <p>&copy; 2018 FuckingWords - uncle-lu</p>
</footer>
{% endblock %}